<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{title}}</title>
  <style type="text/css">
    div.jeu{
      width: 1024px;
      height: 768px;
      margin : 0 auto;
      border: 1px black solid;
      border-radius: 10px;
      background: url("{{background}}");
      background-repeat: no-repeat;
      background-size: 1024px ;
      position : relative;
    }
    div.pagetitle {
      font-size: 200%;
      font-weight: bold;
      background: rgba(255,255,0,0.2);
      width: 50%;
      border: 1px navy solid;
      border-radius: 0px;
      margin: 10px auto;
    }
    div.choices {
      position: absolute;
      left: 20px;
      bottom: 30px;
    }
    div.choices input {
      margin: 10px;
      font-size: 200%;
      background: rgba(255,255,0,0.2);
      padding: 10px;
      border-radius: 10px;
    }
  </style>
</head>
<body>
  <div class="jeu">
    <div class="pagetitle">{{pagetitle}}</div>
    <div class="choices">
      {% for name, field in choices.items() %}
      <form method="get" class="choix">
        <input type="hidden" name="nouveau" value="{{name}}"/>
        <input type="submit" value="{{field}}">
        </form>
      {% endfor %}
    </div>
  </div>
</body>
</html>
